@import './pages';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.text-center {
  text-align: center;
}

.space-20 {
  margin-top: 20px;
}
.space-40 {
  margin-top: 40px;
}
.space-60 {
  margin-top: 60px;
}

body {
  font-family: 'Inter', sans-serif;
}

.highcharts-credits {
  display: none;
}

//////////////////////////////////////////////////////////////////////

// common sytles for collapse
.collapse {
  border-bottom: 0px;
  border-top: 0px;
  .el-collapse-item__header {
    font-size: 1.17em;
    font-weight: 900;
    letter-spacing: -0.5px;
    transition: 0.3s all;
    border-bottom: 0px;
    padding: 0px 8%;
    &:hover {
      background-color: lightsteelblue;
      border-radius: 6px;
    }
  }
  .el-collapse-item__wrap {
    margin-top: 50px;
    border-bottom: 0px;
  }
}
